*{
    margin: 0;
    padding: 0;
}

.navbar__container{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: c;
}


.navbar__logo{
    color: wheat;
   letter-spacing: 5px;
   padding-top: 20px;
   padding-left: 10px;
   
}

.navbar__Search{
    color: wheat;
   letter-spacing: 5px;
   padding-top: 14px;
   width: 60%;
   padding-left: 10px;
}

.navbar__Search input{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    outline: none;
}

.DisplyDog__navbar__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(214, 211, 211, 0);
    border-bottom: 5px dotted black;
    border-left: 5px dotted black;
    border-right: 5px dotted black;
    width: auto;
}